* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: rgb(72, 222, 132);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

th, td {
    background-color: rgb(173, 201, 104);
    padding: 15px;
}

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}

.header {
  margin: 16px;
  background-color: rgb(34, 237, 49);
  text-align: center;
}

.numberinput {
  margin: 16px;
  text-align: center;
  background-color: rgb(30, 185, 40);
}

.xinput {
  margin: 8px;
  width: 45px;
}

.aprekins {
  margin: 16px;
  background-color: rgb(30, 185, 40);
  text-align: center;
}

.atbilde {
  margin: 16px;
  background-color: rgb(30, 185, 40);
  text-align: center;
}
